.homepage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem 5rem;
}

.homepage__avatar {
    background: #c3c6c0;
    border-radius: 5rem;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.homepage__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.homepage__name {
    font-weight: 700;
    margin-top: 15px;
}

.homepage__username {
   margin: 2px;
   font-size: 12px;
   font-style: italic;
}

.homepage__website {
    font-size: 12px;
    margin-top: 5px;
}

.homepage__button {
    background: #33b5ff;
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 2px;
    border: none;
    width: 10rem;
    height: 2.5rem;
    padding: 0.5rem;
    margin-top: 2rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    outline: none;
    transition: transform 80ms ease-in;
}

.homepage__button:hover {
    opacity: 0.8;
}
